<header class="sticky-top">
  <nav class="navbar navbat-light bg-white">
    <a class=navbar-brand>Gato Book</a>
    <div *ngIf="user$ | async as user">
      <div *ngIf="user.name;else login">
        <i class="fa fa-user-circle mr-1">
          <a class="mr-1">{{ user.name }}</a>
          <a (click)="logout()">logout</a>
        </i>
      </div>
    </div>
  </nav>

  <ng-template #login>
    <span class="navbar-text">
      <a [routerLink]="['']">
        login
      </a>
    </span>
  </ng-template>
</header>
